* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    background: transparent;
}